/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/
body{
	font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5, .font-po{
	font-family: 'Poppins', sans-serif;
}


a:hover{
	text-decoration: none;
}
.circle{
	height: 500px;
	width: 500px;
	border: 10px solid #333;
	border-radius: 50%;
	background-color: #ddd;
	object-fit: cover;
	position: relative;
}
.circle h1{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}
.aboutus img{
	width: 100%;
	height: 250px;
	object-fit: cover;

}
.bg-light {
    background-color: #2a74bf!important;
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand{
	color: #fff;

}
.nav-link{
	padding: 10px 18px !important;
}

.carousel-item img{ 
	height: 420px;
	object-fit: cover;

 }
 section{
 	margin: 50px 0px;
 }

 .carousel-caption{
    transform: translateY(-50%);
    top: 50%;
 }
 .carousel-caption h5{
 	font-size: 50px;
 	font-weight: 700;
 }
 .carousel-item:after{
 	content: "";
 	height: 100%;
 	width: 100%;
 	background-color: rgba(0, 0, 0, 0.5);
 	position: absolute;
 	left: 0;
 	top: 0;
 }
 .title h3{
 	font-size: 30px;
 }
 .btn{
 	border-radius: 20px;
 	padding: 8px 20px;
 }
 .btn:hover {
    color: #f00;
    background-color: #fff;
    border-color: #f00;
}
.card{
	box-shadow: 0px 2px 25px 4px rgb(0 0 0 / 10%);
	border-radius: 20px;
}
.card: hover{
	background-color: lightblue;

}
.card-body h5{
	color:blue ;
}


.about-image img{
	width: 100%;
} 
.card1 img{
	max-height: 250px;
	height: 100%px;	
	width: 100%;
	border-radius: 10px;
	box-shadow: 0px 2px 25px4px rgb(0, 0, 0 /10%);

}
.card1 h5{
	color:red;
}
.btn1{
	padding: 4px 10px;
	border-radius: 20px;
}
.btn1:hover {
    color: #f00;
    background-color: #fff;
    border-color: #f00;
 }
 .bg-light1 {
    background-color:grey;!important;
}
.about-image1 img{
	width: 100%;
	max-height: 280px;
}
.MEGASTORE h1{
	color: #666;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 50px;
    width: 60%;
    display: block;
    margin: 0 auto;
 
   
}
.container1{
	background-color:skyblue ;
	height: 450px;
	

}
.Help-Here{
	background-color: #ddd;
	padding: 20px 0px;
	color: #fff;
}

.card2 h5{
	font-size: 15px;
	font-weight: 800;
	color:darkgray;

}

.Mockup-image img{
	width: 100%;
	height: 280px;
}
.Mockup-image h1{    
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
 
}
.btn2 {
	border-radius: 20px;
 	padding: 8px 20px;
}
.btn2:hover {
    color: #f00;
    background-color: #fff;
    border-color: #f00;
    border: 1px solid #f00;
    text-decoration: none;
}

.card img{
	object-fit: cover;
}
.card-join img{
	height: 300px;
	width: 400px;
	object-fit: cover;

}
.card.circle-img img{
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius:50%;
	margin :0 auto;
	margin-top: -100px;


}
.content h1 span{
	color: #f00;
}
.green{
	color: #1ba72d !important;
}
.overlay-img{
	position: relative;
}
.overlay-img:after{
	content: "";
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
}
.about-image1 {
	position: relative;

}
.about-image1 h3{
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.read-btn{
	background-color: #333;
	color: #fff;
}
.content{
	padding: 20px 5px;
}
.card-text:hover {
    color: #f00;
    text-decoration: none;
}
.card-maintitle{
	line-height: 30px;
	text-decoration:underline;
	text-decoration-color: red;
}
.col-md-12 img{
	height: 100px;
	width: 100px;

}
.col-md-12 h3{
	font-weight: 800;
}
.student-main{
	width: 300px;
	height: 250px;
	margin: 0 auto;
	padding: 20px 0px;

}
.student-card {
    height: 250px;
    margin-bottom: 10px;

}
.student-card img{
	height:100%;
	width: 100%;
	object-fit: cover;
	padding-top: 20px;

}
.content h5{
	color: blue;
}
.content p{
	font: sans-seri;
}
.student-card{
	position: relative;
}
.student-card i{
	color: #fff;
	font-size: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.student-main{
	position:relative;

}
.student-main i{
	font-size: 25px;
}
.student-main .icon-left{	
	position: absolute;
	top: 50%;
	left: -30%;
	transform: translateY(-50%);

}
.student-main .icon-right{
	position: absolute;
	top: 50%;
	right: -30%;
	transform: translateY(-50%);

}


.main-card img{
	height: 300px;
	object-fit: cover;
}
.btn3 {
	border-radius: 20px;
 	padding: 8px 20px;
}
.main-card{
	box-shadow: 0px 2px 25px 4px rgb(0 0 0 / 10%);
	border-radius: 20px;
}
.card-img{
	position: relative;
}
.card-img:after {
	content: "";
 	height: 100%;
 	width: 100%;
 	background-color: rgba(0, 0, 0, 0.6);
 	position: absolute;
 	left: 0;
 	top: 0;
 }

 .card-body h5{
 	color: green;


 }
 .card-services{
 	height: 250px;
 	width: 300px;
 	object-fit: cover;
 	border: 2px solid ;
 }
.bg-image{
	background-image: url(../img/15.jpeg);
	height: 400px;
}
.bg-default{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bg-image{
	position: relative;
}
.bg-image:after{
	content: "";
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 0;
}
.banner-content h3{
	color: white;
	text-align: left;
	position: absolute;
    z-index: 1;
    padding-top: 30px;
}
.banner-content p{
	color: white;
	text-align: left;
	position: absolute;
    z-index: 1	;
    padding-top: 100px;
    line-height: 30px;
}

.banner-content img{
	height:250px;
	width: 300px;
	object-fit: cover;
	z-index: 1;
	padding-top: 30px;
	position: absolute;

} 
.banner-content1 img{
	height:250px;
	width: 300px;
	object-fit: cover;
	z-index: 1;
	position: absolute;
	margin-top: 90px;
	margin-left: -65px;
}
.Website-owner h3{
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	font-family:"Basier square semi Bold" ;
	font-style: normal;
	letter-spacing: 2px;
}
.Website-owner p{
	text-align: center;
	font-size: 19px;
	font-style: normal;
	padding-top: 10px;
}
.Website-img {
	text-align:center;
}
.Website-img img{
	height: 100px;
	width: 100px;
	padding-top: 30px;
	

}
.Website-img h5{
	text-align: center;
	font-size: 25px;
	padding-top: 25px;
}
.Website-img p{
	text-align: center;
	padding-top: 10px;
}
.family .family-img img{
	height: 450px;
	border-radius: 99% 1% 96% 4% / 58% 27% 73% 42% ;
	/*width: 260px;*/
}
.family .family-img img{
	width: 100%;
	height: 100%	;
}
.family{
	background-color:#ffe979;
}
.family-text {
	text-align: left;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 600;
	padding-top: 40px;
	line-height: 35px;
}
a.family-btn {
	clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 0);
    padding: 8px 36px 8PX 15PX;
    border-radius: 4px;
    color: #fff;
    background-color: #333;
    font-weight: 300;
    display: inline-block;
}
a.family-btn:hover{
	cursor: pointer;
	background-color: transparent;
	color: red;

}
.banner .banner-img img{
	height: 480	px;	
}
.banner .banner-img img{
	width: 100%;
	height: 100%;
}
.banner{
	background-color: lightcyan;
}
.banner-btn{
	border-radius: 10px ;
    color: #fff;
    background-color: #333;
    font-weight: 400;
    padding: 8px 20px;
    display: inline-block;
}
.beuty h6{
    font-style: italic;
    color: #c89500;
    font-family: Old Standaz;
    font-size: 22px;
    margin:0;

}
.beuty h3{
	font-style: italic;
	font-weight: 400;
	font-size: 55px;
	font-family: Old Standaz;
	margin: 0;
}
.beuty p{
    text-align: left;
    padding-top: 20px;
    font-family: italic;
    font-size: 22px;
    line-height: normal;
}
.beuty-img{
	height: 600px;
	object-fit: cover;

}
.beuty img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.banner-beuty img{
	height: 100%;
	width: 100%;
}
.banner-beuty,.counter-sec{
	position: relative;
}
.banner-beuty:after{
	content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0
}
.overlay-img1{
 color: #fff;
 text-align:center;
 position: absolute;
 left: 50%;	
 top: 20%;
 transform: translate(-50%, -50%);
 z-index: 1;
 font-family: Old Standaz serif;
}
.overlay-img1 h3{
	font-family: Old Standaz serif;
	font-weight: 500;
	font-size: 50px;
}
.counter-content-wrap {
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 75%;

}
.counter-content h2{
	font-size: 60px;
	font-family: Old Standard serif;

}
.counter-content h5{
	text-transform: uppercase;
   letter-spacing: 6px;
   font-size: 90%;
   color: #c89500;
}
.counter-content-wrap .counter-btn{
	border: 2px solid #c89500;
	padding: 10px 32px;
	color: #c89500;
	background-color: transparent;
	display: inline-block;
	margin-top: 100px;
	border-radius: 5px;
}
.counter-content-wrap .counter-btn:hover{
	background-color: #ddd;
	color: #333;

}
.new-card h5{
	text-align: center;
	font-style: italic;
   color: #c89500;
   font-family: Old Standaz;
   font-size: 20px;
  margin: 0;

}
.new-card h2{ 
	font-style: italic;
    font-weight: 400;
    font-size: 55px;
    font-family: Old Standaz;
    text-align: center;
    mrgin-top: 0px;
}
.form-control{
	height: 70px;
	width: 48%;
	margin: 30px auto;
	text-align: center;
	font-family: cursive;
}
.new-card p{
	text-align: center;
	font-family: Old Standaz serif;
	font-size: 15px;
	margin-bottom:50px ;
}
.new-card{
	border: 2px solid #c89500;
	padding: 80px 40px;
	text-align: center;
}
.bottle-bg{
	background-image: url(../img/bot1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px;

}
.new-card .new-btn{
	border-radius: 5px;
    color: #fff;
    background-color: #333;
    font-weight: 400;
    padding: 20px 60px;
    text-align: center;
    font-family: italic;

 }
 .banner-beuty,.counter-sec{
	position: relative;
}
.banner-beuty:after{
	content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0
}
.food-banner .food-sec{
	position: relative;
}
.food-banner:after{
	content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0
}
.food-banner img{
	height: 100%;
	width: 100%;
}
.food-banner img{
   height: 550px;
   object-fit: cover;

}
.food-banner{
	position: relative;
}
.overlay-img2 {
    color: #fff;
    position: absolute;
    left: 50%;	
    top: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
 }
 .food-banner p{
 	font-weight: 300;
 	font-size: 50px;
 	font-family: italic;
 	text-align: center;
 	padding-bottom: 30px;
 }
 .food-banner i{
 	font-size: 40px;
 }
 .food-banner .icon-top{
 	position: absolute;
   bottom: 100%;
	transform: translateY(-50%);
   padding-left: 50%;
   color: #c89500;

 }
 .food-banner .icon-bottom{
 	position: absolute;
   top: 100%;
	transform: translateY(-50%);
   padding-left: 50%;
   color: #c89500;

 }
 .element{
 	background-color: #f4eef9;
 	height: 100%;
  width: 100%;

 }
 .element{
 	height: 800px;
 }
 .element-banner h5{
 	font-size: 25px;
   font-weight: 400;
   color: #556FFF;
   text-align: center;
   padding-top: 5%;
 }
 .element-banner h2{
 	font-size: 4.3rem;
   font-weight: 500;
   text-align: center;
   letter-spacing: -2;
   line-height: 5rem;
   padding-left: 18%;
   padding-right: 18%;
   padding-top: 30px;
   padding-bottom: 75px;


 }
 .element-icon{
 	text-align: center;
 	height: 155px;
 	width: 155px;
 	padding-top: 30px;
 	background-color: white;
 	box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 8%);
 	border-radius: 4px;
 	transition: background 0.3s;
 	color: gray;
 }
 .element-icon:hover {
    color:#fff;
    background-color: grey;
    text-decoration:none;
}

 .element-icon i{
 font-size: 30px;
 padding-bottom:35px;

 }
 .element-icon h5{
 	font-family: roboto;
 	font-weight: 500;
 	font-size: 16px;
 }
 .cir-img img{
 	height: 150px;
    width: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    box-shadow: 0px 0px 35px 0px rgb(40 42 54 / 18);

}
.cir-img{
	padding-top: 30px;
}
.cir-img h4{
	font-family: "Roboto",Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    width: 43%;
    margin: 30px 0px 15px 23px;
    text-align: center;
}
.mud-card img{
	height: 100%;
	width: 100%;
	object-fit: cover;

}
.mud-card img{
	height: 460px;
	margin: 0px 0px -135px 0px;
}
 .mud-body{
 	height: 180px;
 	width: 400px;
 	text-align: center;
 	padding-top: 45px;
 	margin: 0 auto;
 	background-color: #fff;
 	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 8%);
 	position: relative;
 
}
.mud-body p{
	color: gray;
	font-size: 15px;
	margin-left: 35px;
	margin-right: 35px;
}


 

 



   












 

















