* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Rubik, sans-serif;
    margin: 0 0 18px;
    font-weight: 700;
    color: #1b1637;
    line-height: 1.3;
}

body {
    color: #828c9e;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
}

.site-top-bar {
    background: #c9adff;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.inner.text-center p {
    margin-bottom: 0px !important;
    line-height: 2.5;
}

.site-top-bar .inner {
    display: flex;
    height: 40px;
    text-align: center;
    align-items: baseline;
    justify-content: center;
}

ul.navbar-nav {
    margin-left: -32px;
}

.navbar-collapse {
    justify-content: space-between;
}

.site-top-bar .inner span {
    background: #fcdf73;
    color: #051f46;
    border-radius: 16px;
    padding: 3px 14px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-right: 12px;
    white-space: nowrap;
}

.site-header {
    background: linear-gradient(45deg, #f9e4e5, rgba(249, 254, 253, 0) 30%, #f8f9fd), linear-gradient(-45deg, #ebeefd, rgba(249, 254, 253, 0) 30%, #f2faf8);
    padding: 5px;
    margin-bottom: 120px;
}

.navbar-brand {
    margin-right: 0px;
}

.navbar img {
    height: 85%;
    width: 52%;
    object-fit: cover;
    float: left;

}

.bg-light {
    background-color: transparent !important;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5px;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #b466ea;
}

.btn-outline-success {
    color: #fff;
    border-color: #b466ea;
    background-color: #b466ea;
    box-shadow: 0 14px 24px rgba(180, 102, 234, .15);
}

.btn-outline-success:hover {
    background-color: #b466ea;
    border-color: #b466ea;
}

.btn {
    padding: 10px 16px;
    border-radius: 6px;
}

.btn:hover {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
}

.container-large {
    padding: 70px 45px;
}

.site-header .section-heading {
    font-size: 48px;
    line-height: 1.25;
}

.mark,
mark {
    padding: 0.2em;
    background-color: transparent !important;
    color: #b466ea;
}

.section-heading mark {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.section-heading mark:after {
    background: #ebe0ff;
    bottom: 10px;
    content: "";
    display: block;
    height: 0.5em;
    left: 7px;
    position: absolute;
    width: 97%;
    z-index: -1;
}

.btn-outline-parple {
    color: #fff;
    border-color: #b466ea;
    background-color: #b466ea;
    padding: 12px 37px;
    box-shadow: 0 14px 24px rgba(180, 102, 234, .15);

}

.btn-outline-parple:hover {
    color: #fff;
}

.btn-outline-white {
    color: #333;
    border: #fff;
    background-color: #fff;
    font-size: 16px;
    font-weight: 900;
    margin-left: 35px;
    padding: 14px 37px;
    background-color: #fff;
    box-shadow: 0 14px 24px rgba(0, 0, 0, .05);
}

.video-popup {
    position: relative;
}

.video-link img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.section-hero .video-popup {
    font-size: 102px;
    icon-size-x: 18px;
    icon-size-y: 11px;
}

.section-shape,
.section-shapes {
    position: absolute;
    pointer-events: none;
}

.section-shape.section-shape-elementor {
    bottom: 5%;
    left: 0;
    transform: translateX(-60%);
}

.section-shape.section-shape-wp {
    top: -15%;
    right: 20%;
    transform: translateX(70%);
}

.section-shape.section-shape-woo {
    right: -8%;
    top: 30%;

}

.video-popup .section-shape img {
    border-radius: 50%;
    box-shadow: 0 14px 48px rgb(0 0 0 / 15%);
}

.video-popup .video-play-btn,
.video-popup .video-play-btn:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-popup .video-play-btn {
    height: 110px;
    width: 110px;
    background: #1b1637;
    border-radius: 50%;
    box-shadow: 0 30px 50px rgb(0 0 0 / 25%);
    z-index: 2;
    line-height: 4.3;
    color: #fff;
    transition: all .3s;
    text-align: center;
    font-size: 26px;
}

.video-popup a:hover .video-play-btn {
    transform: translate(-50%, -50%) scale(1.1);
    background-color: #b466ea;
}

.swiper-inner {
    position: relative;
}

.site-header .swiper-slide:after {
    content: "";
    position: absolute;
    right: -1px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(180, 102, 234, .2);
    ;
}

.swiper-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 1;
}

.site-header .swiper-slide {
    position: relative;
    padding: 12px 15px;
    text-align: center;
    border-top: 1px solid rgba(180, 102, 234, .2);
    ;
}

.feature-tag {
    font-size: 16px;
    font-weight: 800;
    color: #000;
}

.section-heading {
    font-size: 40px;
    line-height: 1.35;
}

.section-features .section-header {
    margin-bottom: 60px;
}

.feature-box {
    text-align: center;
    margin-bottom: 50px;
}

.feature-box__image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-position: center;
    transition: all .3s;
}

.feature-box:hover img {
    transform: translateY(-15px);
}

.feature-box__image {
    margin-bottom: 30px;
    border-radius: 5px;
}

.feature-box__title {
    font-size: 20px;
    margin: 10px;

}

.feature-box__description {
    font-size: 16px;
    line-height: 26px;
}

.feature-sec {
    margin-bottom: 100px;
}

.video-sec {
    margin: 0 auto 40px;
}

.section-description {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 60px;

}

.video-sec img {
    height: 650px;
    box-shadow: 0 14px 50px rgba(0, 0, 0, .20);
    border-radius: 20px;
}

.video-sec {
    margin-bottom: 120px;
}

.sec-template {
    padding: 136px 0 95px;
    margin-bottom: 120px;
    background-color: #f5f3f6;
}

.template-filter {
    margin-bottom: 60px;
}

.template-filter__inner {
    color: #959595;
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
}

.template-filter .intro-text {
    margin-right: 20px;
}

.sec-template .section-description {
    margin: 0 auto 29px;
}

select {
    padding: 3px 30px 3px 18px;
    background: transparent url(images/select-arrow.svg) no-repeat;
    background-position: center right 18px;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    border: none;
    border-bottom: 2px solid #000;
}

select#exampleFormControlSelect1:focus-visible {
    outline: 0;
}

.template-card {
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 18px 18px 16px;
    transition: all .3s;
    box-shadow: 2px 7px 15px rgb(0 0 0 / 4%);
    margin-bottom: 30px;
}

.template-card a:hover {
    text-decoration: none;
}

.template-card a {
    display: block;
}

.template-card__image img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.template-card__info {
    margin-top: 25px;
    position: relative;
}

.template-card .badges {
    position: absolute;
    right: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.template-card .badges span {
    border-radius: 27px;
    height: 24px;
    min-width: 54px;
    padding: 3px 9px;
    line-height: 18px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.template-card__info div span {
    display: inline !important;
}

.template-card h4 {
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}

.template-card__info {
    line-height: 24px;
    font-size: 16px;
    color: #828c9e;
}

.template-card .badges span.hot {
    background: #d84143;
}

.template-card .badges span.mega {
    background: #b466ea;
}

.template-card .badges span.free {
    background: #f5b24f;
}

.template-card .badges span.soon {
    background: #9a84c8;
}

.template-card .badges span+span {
    margin-left: 10px;
}

.template-card:hover {
    transform: translateY(-15px);
}

.sec-template .footer-sec {
    margin-top: 60px;
}

.sec-template .footer__cta .button-wrapper {
    margin-bottom: 30px;
}

.sec-template .footer__cta {
    margin-bottom: 50px;
}

.sec-template .footer__cta p {
    color: #1b1637;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0;
}

.sec-template .tm-banner {
    background: linear-gradient(-45deg, #e8e3f9, #f6dbd5 40%, #f6dbd5 65%, #ee7ac1 90%, #e79de7);
    max-width: 976px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    padding: 22px 48px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.sec-template .tm-banner__card {
    margin: 0 0 -70px -50px;
}

.sec-template .tm-banner__wrapper {
    margin-left: 44px;
}

.sec-template .tm-banner {
    display: flex;
    align-items: center;

}

.sec-template .tm-banner__wrapper {
    align-items: center;
    display: flex;
}

.tm-banner__content {
    float: left;
}

.sec-template .tm-banner__content h4 {
    font-size: 30px;
    line-height: 1.1;
    margin: 0 0 12px;
}

.sec-template .tm-banner__content p {
    max-width: 320px;
}

.button {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.button:hover {
    text-decoration: none;
    color: #fff;
}

.video-wrapper-img img {
    height: 380px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 14px 30px rgb(219 165 84 / 30%);
}

.Mobile-sec .section-header {
    padding-left: 65px;

}

.section-sub-heading {
    color: #f87b80;
    font-size: 24px;
    line-height: 1.167;
    margin: 0 0 22px;
}

.Mobile-sec .template-card {
    border: 3px solid hsla(0, 0%, 44%, .2);
    border-radius: 15px;
    width: 90%;
}

.Mobile-sec .template-card__image img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.Mobile-sec h4 {
    font-size: 18px;
    line-height: 1.167;
    margin: 23px 0 0;
    text-align: center;
}

.Mobile-sec .btn-sec {
    margin: 0 auto;
    margin-top: 60px;
}

.Mobile-second {
    margin-top: 68px;
}

.visitor-sec {
    padding: 100px 0 95px;
    /*margin-bottom: 112px;*/
    background-color: #f5f3f6;
    margin-top: 100px;
}

.visitor-box__wrapper {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 7px 15px 0 rgb(0 0 0 / 4%);
    padding: 31px 15px 31px 15px;
    display: flex;
    transition: all .3s;
    height: 100%;
    margin-bottom: 30px;
}

.visitor-box__wrapper:hover {
    transform: translateY(-15px);
    background: #b466ea;
    color: #fff;
}

.visitor-box__wrapper:hover i {
    color: #fff;
}

.visitor-box__wrapper:hover .visitor-box__title {
    color: #fff;
}

.visitor-box__image {
    margin-right: 17px;
}

.visitor-box__image .svg-icon {
    color: #b466ea;
    transition: all .3s;
}

.svg-icon {
    font-size: 36px;
    line-height: 1;
    display: inline-block;
}

.visitor-box__title {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    transition: all .3s;
    color: #1b1637;
}

.visitor-box__description {
    margin: 14px 0 0;
}

.visitor-sec .col-md-4 {
    position: unset;
}

.builder-bg {
    background-color: #fbf5ff;
    padding: 84px 15px 76px;
    overflow: hidden;
    margin: 0 50px;
}

.builder-bg .video-link img {}

.builder-bg .heading-wrapper {
    float: right;
    margin-left: 50px;
    margin-top: 60px;
}

.elementor-builder .section-logo {
    margin-bottom: 30px;
}

.builder-bg .video-popup .video-play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(210%, -50%);
}

.builder-bg .video-popup a:hover .video-play-btn {
    transform: translate(210%, -50%) scale(1.1);
    background-color: #b466ea;
}

.builder-bg {
    margin-bottom: 110px;
}

.white-label-sec .card .card__wrapper {
    background: #fff;
    border: 3px solid hsla(0, 0%, 44%, .2);
    border-radius: 15px;
    padding: 10px;
    transition: all .3s;
}

.card {
    border: none;
}

.card__wrapper img {
    width: 100%;
    height: 385px;
    object-fit: cover;
}

.white-label-sec ul.install-step {
    font-size: 18px;
    margin: 0 0 43px;
    padding: 0;
}

.white-label-sec .section-heading {
    margin-bottom: 27px;
}

.white-label-sec ul.install-step span {
    color: #b466ea;
    background: #f6e8ff;
    width: 29px;
    height: 29px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 500;
    position: absolute;
    left: 0;
}

.white-label-sec ul.install-step li {
    list-style: none;
    position: relative;
    padding-left: 39px;
    margin-bottom: 10px;
}

.white-label-sec .section-header {
    margin-left: 40px;
}

.card__wrapper:hover {
    transform: translateY(-15px);
}

.white-label-sec {
    margin-bottom: 120px;
}

.section-translation {
    padding: 100px 0;
    background-color: #f1e9f6;
}

.section-translation .section-heading {
    margin-bottom: 12px;
}

.section-translation .section-header {
    margin-bottom: 43px;
}

.grid-modern {
    display: grid;
    grid-column-gap: 30px;

}

.section-content {
    margin: 0 auto;
}

.flag-boxes {
    width: 100%;
    display: flex;
}

.section-translation .section-description {
    margin-bottom: 0px;
}

.design-preview {
    padding: 106px 0 95px;
    margin-bottom: 120px;
    background-color: #f5f3f6;
}

.minimog-tabs--horizontal .minimog-tabs__header-wrap {
    margin-bottom: 70px;
}

.minimog-tabs .minimog-tabs__header-wrap .tab-title {
    padding: 3px 0;
    display: inline-block;
}

.minimog-tabs__header .tab-title {
    position: relative;
    cursor: pointer;
    align-items: center;
}

.minimog-tabs__header .tab-title.active .tab-title__text {
    color: #1b1637;
    font-weight: 500 !important;
}

.minimog-tabs__header .tab-title__text {
    font-size: 20px;
    font-weight: 500;
    transition: all .3s;
}

.minimog-tabs .minimog-tabs__header-wrap .tab-title .tab-title__text {
    line-height: 26px;
    margin-right: 40px;
}

.minimog-tabs__header .tab-title.active:after {
    width: 75%;
}

.minimog-tabs__header .tab-title:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    background: #1b1637;
    transition: all .3s;
}

.minimog-tabs__header .tab-title:hover .tab-title__text {
    color: #1b1637;
}

.minimog-tabs__header-wrap .minimog-tabs__header-wrap {
    margin-bottom: 50px;
}

.design-preview .section-header {
    margin-bottom: 44px;
}

.design__card-img img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.design__card h4 {
    font-size: 18px;
    line-height: 21px;
    margin: 30px 0 0;
    color: #333;
    text-align: center;
}

.design__card:hover {
    transform: translateY(-15px);
}

.design-preview .btn-sec {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}

.theme-features {
    background: #f5f3f6;
    border-radius: 5px;
    padding: 57px 8px 8px 8px;
    margin-bottom: 70px;
}

.theme-features .total {
    font-size: 120px;
    line-height: 1;
    font-weight: 500;
    color: #b466ea;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
}

.theme-features .total span.sign {
    font-size: .4em;
    margin-left: 15px;

}

.theme-features .details {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.theme-features img {
    width: 100%;
    object-fit: cover;
}

.theme-features .heading {
    font-size: 26px;
    line-height: 1.24;
    margin: 0 0 16px;
}

.theme-features .description {
    font-size: 18px;
    line-height: 30px;
    min-height: 120px;
}

.mega-menu img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section-header-footer {
    margin-bottom: 110px;
}

.section-sub-heading {
    color: #f87b80;
    font-size: 24px;
    line-height: 1.167;
    margin: 0 0 22px;
}

/*.cart-board {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}*/
.section-cart .section-header {
    width: 100%;
}

.cart-board__wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

.cart-board__layer-static {
    padding: 65px 98px 58px 75px;
}

.cart-board__layer img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cart-board__layer-01 img {
    box-shadow: 20px 34px 31px rgb(0 0 0 / 13%);
    width: auto;
}

.cart-board__layer-01 img.plus {
    box-shadow: none;
    left: 125px;
    top: -10px;
    position: absolute;
}

.cart-board__layer-01 {
    position: absolute;
    bottom: -25px;
    left: 0;
}

.cart-board__layer-02 img {
    width: auto;
}

.cart-board__layer-02 {
    position: absolute;
    right: 0;
    top: 0;
}

.section-cart {
    margin-bottom: 123px;
}

.upsale-box {
    background: #f1e9f6;
    border-radius: 5px;
    padding: 57px 15px 0px 15px;
}

.upsale-box .heading {
    font-size: 26px;
    line-height: 1.24;
    margin: 0 0 16px;
}

.upsale-box .description {
    font-size: 18px;
    line-height: 30px;
    min-height: 90px;
    margin-bottom: 0px;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section-upsale-features {
    padding-bottom: 100px;
    margin-bottom: 120px;
    background: linear-gradient(0deg, #fcf9ff, #fdfcff 90%, rgba(253, 252, 255, 0));
}

.section-upsale-features .section-footer {
    margin-top: 51px;
}

.feature-list li {
    color: #1b1637;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.17;
    webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    padding: 14px 20px;
    box-shadow: 0 14px 24px rgb(0 0 0 / 5%);
    transition: all .3s;
    cursor: text;
    margin: 15px;
    border-radius: 5px;
}

.feature-list li {
    display: inline-block;
}

.feature-list {
    text-align: center;
}

.feature-list li:hover {
    box-shadow: 2px 20px 30px rgb(0 0 0 / 14%);
    transform: translate3d(0, -5px, 0);
}

.seo-card:hover {
    transform: translate3d(0, -15px, 0);
}

.seo-card {
    display: block;
    background: #fff;
    box-shadow: 0 20px 100px rgb(0 0 0 / 9%);
    border-radius: 10px;
    padding: 42px 27px 47px;
    height: 85%;
    transition: all .3s;
    margin-top: 40px;
}

.seo-card h5 {
    font-size: 20px;
    line-height: 1.6;
    margin: 28px 0 0;
}

.icon img {
    height: 100px;
    width: auto;
    object-fit: cover;
}

.section-seo-features {
    margin-bottom: 157px;
}

.section-author {
    padding: 117px 0 131px;
    background-color: #f5f3f6;
    position: relative;
}

.section-author .author__logo {
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
}

.section-author .author__logo img {
    border-radius: 50%;
    box-shadow: 0 8px 44px rgb(0 0 0 / 13%);
}

.section-author .author__awards {
    height: 310px;
    position: relative;
    width: 100%;
}

.author__award .power-elite {
    top: 0;
    left: 95px;
}

.author__awards .site {
    bottom: 0;
    left: -50px;
}

.section-author .author__awards .top-author {
    top: 46px;
    right: 27.75362%;
}

.section-author .author__awards .rates {
    bottom: 55px;
    left: 26.42029%;
}

.section-author .author__awards .css {
    bottom: 0;
    right: 9.85507%;
}

.section-author .author__awards .www {
    top: 0;
    right: -25px;
}

.section-author .author__awards .author__award {
    width: 310px;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    /*margin-top: 75px;*/
}

.section-author .section-header {
    margin-bottom: 75px;
}

.section-partner {
    margin-bottom: 120px;
    padding: 55px 0 41px;
    border-bottom: 1px solid #eee;
}

.section-partner .section-heading {
    font-size: 20px;
    line-height: 2.1;
    margin-right: 27px;
    float: left;
}

.section-partner .grid-modern {
    display: flex;
}

.section-partner .grid-item {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: .35;
    transition: all .3s;
    margin-left: 35px;
}

.section-exclusive {
    margin-bottom: 70px;
}

.section-exclusive .section-header {
    margin: 0 auto 62px;
}

.exclusive-img img {
    width: 100%;
    object-fit: cover;
}

.section-plugins {
    padding: 121px 0 105px;
    margin-bottom: 120px;
    background-color: #f1e9f6;
}

.section-plugins .section-header {
    margin: 0 auto 62px;
}

.section-heading {
    font-size: 40px;
    line-height: 1.25;
}

.section-plugins .plugin-price {
    color: #000;
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 38px;
}

.text-line-through {
    text-decoration: line-through;
}

.primary-color {
    color: #b466ea;
}

.section-plugins .plugin-price .sale-price {
    margin-left: 20px;
}

.section-plugins .plugin {
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
}

.section-plugins .plugin:hover .plugin__image {
    transform: translateY(-5px);
}

.plugin-img {
    position: relative;
    transition: all .3s;
}

.section-plugins .plugin img {
    margin-bottom: 20px;

}

.section-plugins .plugin img {
    border-radius: 50px;
}

.section-plugins .grid-modern {
    display: flex;
    grid-column-gap: 85px;
}

.section-plugins .plugin__name {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.section-plugins .plugin__badge-wrapper {
    position: absolute;
    top: 77%;
    left: 0;
    bottom: 0;
    right: 0;
}

.section-plugins .plugin__badge {
    color: #fff;
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    background-color: #f87b80;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
}

.section-plugins .plugin:hover .plugin-img {
    transform: translateY(-5px);
}

.buy-once-card {
    margin-bottom: 30px;
}

.section-buy-once {
    margin-bottom: 106px;
}

.section-work-smart {
    margin-bottom: 103px;
}

.buy-once-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.seo-card {
    display: block;
    background: #fff;
    box-shadow: 0 20px 100px rgb(0 0 0 / 9%);
    border-radius: 10px;
    padding: 42px 27px 46px;
    height: 92%;
    transition: all .3s;
}

.seo-card h5 {
    font-size: 20px;
    line-height: 1.6;
    margin: 28px 0 0;
}

.section-work-smart a:hover {
    text-decoration: none;
}

.section-customer-reviews {
    background: #f5f5f5;
    padding: 100px 0;
}

.swiper-slider {
    display: block;
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 30px 30px rgb(0 0 0 / 2%);
    padding: 70px 25px 28px;
}

.review-rating i {
    font-size: 55px;
    color: #ffc107;
    margin-bottom: 60px;
    margin-right: 10px;
}

.review-content {
    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-weight: 410;
    margin-bottom: 25px;
}

.review-name {
    font-size: 16px;
    font-weight: 700;
}

.review-verified i {
    font-size: 75px;
    color: #fff;
    background-color: #20b542;
    border-radius: 50%;
    padding: 30px;
    margin-left: 60px;
}

.review-verified span {
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-left: 85px;
    font-weight: 500;
}

.review-item:after {
    position: absolute;
    right: 25px;
    bottom: 25px;
    content: "";
    width: 26px;
    height: 23px;
    background: url(images/quote.png) no-repeat 0 0;
}

.swiper-slider a:hover {
    text-decoration: none;
}

.section-customer-reviews .btn-sec {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}

.site-footer {
    background-color: #1b1637;
    color: #fff;
    padding: 0;
}

.site-footer__inner {
    text-align: center;
    padding: 99px 0 100px;
}

.site-footer .footer-badges {
    font-size: 0;
    line-height: 1;
    margin-bottom: 29px;
}

.site-footer .hot {
    display: inline-block;
    background: #fff;
    border-radius: 60px 60px 60px 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: #1b1637;
    padding: 7px 16px;
    text-transform: uppercase;
}

.site-footer .primary-heading {
    margin: 0;
}

.gradient-heading {
    display: inline-block;
    color: #fff;
    background: linear-gradient(90deg, #a075f5, #b59dc4 50%, #ef7d90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site-footer .all-in-one-price-list {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    flex-wrap: wrap;
    margin: 21px 0 0;
    padding: 0;


}

.site-footer .all-in-one-price-list i {
    position: absolute;
    top: 5px;
    left: 15px;
}

.site-footer .all-in-one-price-list li {
    list-style-type: none;
    position: relative;
    margin-bottom: 35px;
    padding: 5px 15px 5px 53px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.site-footer .review-verified i {
    background-color: #347243;
}

.site-footer .btn:hover {
    transform: none;
}

.site-footer__bot {
    padding: 36px 0;
    font-size: 16px;
    font-weight: 400;
    color: #999;
}

.site-footer__bot .widget-title {
    font-size: 18px;
    font-weight: 500;
}

.site-footer__bot .footer-contact-info {
    display: block;
    margin: 3px 0 0;
    padding: 0;
}

.site-footer__bot .footer-contact-info li {

    display: block;
    padding: 0;
    width: 100%;
}

.footer-contact-info a {
    color: #1b1637;
    font-weight: 500;
}

.footer-contact-info a:hover {
    text-decoration: none;
    font-weight: normal;
}

.site-footer__bot .footer-branding {
    margin: 0 0 18px;
}

.site-footer__bot .footer-menu a {
    display: inline-block;
    font-weight: 600;
    color: #000;
    padding: 0 18px;
}

.footer-branding img {
    width: 172px;
    height: auto;
}

.site-footer__bot .footer-menu a:hover {
    color: #b466ea;
    text-decoration: none;
}

.site-footer__bot .socials {
    display: inline-flex;
    margin: 0 -10px 6px;
    font-size: 0;
    line-height: 1;
}

.site-footer__bot .socials a {
    color: #000;
    padding: 9px 10px;
}

.site-footer__bot i {
    font-size: 22px;
}

.site-footer__bot .socials a:hover {
    color: #b466ea;
}
.nane{
    display: flex;
}
.swiper-slide .swiper-slide-duplicate{
    width: 406px;
}




